{:default true
 :alone 500
 :delay 200
 :held 500
 :simlayer-threshold 200
 :templates {;
             :code-project "osascript -e 'tell application \"Visual Studio Code\" to activate' &&
                            open -a 'Visual Studio Code' %s -g %s
                            "
             :paste "osascript -e '
                        set the clipboard to \"%s\"
                        tell application \"System Events\"
                                keystroke \"v\" using command down
                        end tell
                        '"
             ;
             }
 :layers {;
          :caps_lock_mode {:key :caps_lock :alone {:key :escape}}
          ;
          }
 :simlayers {;
             :emoji-mode {:key :z}
             :open-mode {:key :o}
             ;
             }
 :applications {;
                :code ["com.microsoft.VSCode"]
                ;
                }
 :main [{:des "capslock layer" :rules [:caps_lock_mode
                                       [:##h :left_arrow] [:##j :down_arrow] [:##k :up_arrow] [:##l :right_arrow]]}
        {:des "emoji"
         :rules [:emoji-mode
                 [:c [:paste "👏🏻"]] ;clap
                 [:p [:paste "🎉"]] ;party
                 [:u [:paste "👍"]] ;thumbs up
                 [:d [:paste "👎"]] ;thumbs down
                 ]}
        {:des "open"
         :rules [:open-mode
                 [:k [:code-project "~/.config/karabiner" "~/.config/karabiner.edn"]]
                 ;
                 ]}]}

